.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
h1,
h3,
p,
h2,
ul {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #ffffff;
}
/* header */
.header{
  width: 1600px;
}
.header-wrapper {
  width: 1200px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 520px;
}
.contacts {
  display: flex;
  width: 307px;
  justify-content: space-between;
  align-items: center;
}
.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: none;
}
.web {
  color: #2196f3;
  padding-top: 24px;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  width: 281px;
  list-style-type: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}
.nav-list a {
  text-decoration: none;
  color: #212121;
}

.nav-list a:hover {
  color: #2196f3;
}
.tel{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  list-style-type: none;
}
.mail{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  list-style-type: none;
}
.contacts a:hover{
  color:#2196f3
}
.tel{
  text-decoration: none;
  color: #757575;
}
.mail{
  text-decoration: none;
  color: #757575;
}
.contact-list a:hover {
  color: #2196f3;
}
.header-wrapper a:focus{
  color: #2196f3;
}
/* end of header */
/* hero */
.hero {
  width: 1600px;
  height: 600px;
  background-color:#2F303A; 
}
.cont-of-hero{
  width: 1600px;
  height: 600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4 )40%,#000000),url(font/new_photo.jpg);
}
.hero h1{
  padding-top: 200px;
  padding-left: 452px;
  padding-right: 452px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero button{
  margin: 30px 692px 200px 692px;
}
.hero-btn {
  width: 216px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
/* end of hero */
/* main */
.features-list {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  padding-bottom: 94px;
  padding-top: 120px;
  margin-left: 215px;
}
.features-list-item{
  width: 270px;
}
.features-subtitle {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.features-paragraf {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}
.features-list li {
  list-style-type: none;
}
/* Секція Чим ми займаємося */
.works {
  width: 1200px;
  margin-left: 215px;
  margin-bottom: 94px;
}
.images img {
  width: 370px;
}
.our-skills {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0;
  margin-bottom: 50px;
}
.images li {
  list-style-type: none;
}
.images {
  display: flex;
  justify-content: space-between;
}
/* Секція Наша команда */
.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 94px 215px 50px 215px;
  color: #212121;
}
.us {
  width: 1600px;
  height: 648px;
  background-color:  #F5F4FA;
}
.team {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 368px;
  margin: 50px 215px 94px 215px;
}
.team li {
  list-style-type: none;
}
.people-1 {
  font-weight: 500;
  margin: 30px 0 10px 0;
  font-size: 16px;
  line-height: 1.19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.people-2 {
  font-weight: 500;
  margin: 30px 0 10px 0;
  font-size: 16px;
  line-height: 1.19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.people-3 {
  font-weight: 500;
  margin: 30px 0 10px 0;
  font-size: 16px;
  line-height: 1.19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.people-4 {
  font-weight: 500;
  margin: 30px 0 10px 0;
  font-size: 16px;
  line-height: 1.19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.education{
  padding-top: 10px;
  padding-bottom: 30px;
}
.team img {
  width: 270px;
  height: 260px;
}
.team p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.team div {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  height: 368px;
}
/* footer */
.footer{
  width: 1600px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
.address {
  width: 1600px;
  height: 252px;
  background: #2f303a;
}
.address-footer{
  display: flex;
  flex-direction: column;
  width: 231px;
  margin-left: 215px;
}
.street {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
  color: #ffffff;
}
.tel-item{
  margin-top: 9px;
}
.footer-wrapper {
  display: flex;
  justify-content: center;
}
.nav-logo {
  display: flex;
  margin: 60px 1240px 20px 215px;
}
.contact-footer {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  list-style-type: none;
}
.contact-footer a {
  text-decoration: none;
  color: #757575;
}
.address-footer a:hover {
  color: #2196f3;
}
.address-footer a:focus{
  color: #2196f3;
}
.footer-wrapper a:focus{
  color: #2196f3;
}
