body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #ffffff;
}
ul,
p,
h3{
  margin: 0;
  padding: 0;
}
li{
  list-style-type: none;
}
a{
  text-decoration: none;
}
/* header */
.header{
  width: 1600px;
}
.header-wrapper {
  width: 1200px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 520px;
}
.contacts {
  display: flex;
  width: 333px;
  justify-content: space-between;
  align-items: center;
}
.icon-contact{
margin-right: 10px;
fill: rgba(117, 117, 117, 1);
}
.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: none;
}
.web {
  color: #2196f3;
  padding-top: 24px;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  width: 281px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}
.nav-list-item::after{
  position: absolute;
  top: 44px;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
background-color: #2196F3;
transform: scaleX(0);
transition: transform 0.5s;
  transform-origin: right;
}
.nav-list-item:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}
.nav-list-item{
  position: relative;
}
.nav-list a {
  text-decoration: none;
  color: #212121;
}
.nav-list a:hover {
  color: #2196f3;
}
.contact{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}
.contact:hover .icon-contact,.contact:focus .icon-contact{
  fill: #2196F3;
  transition: fill 1s ease-in;
}
.contact:hover{
  color:#2196f3;
  transition: color 250ms ease-in;
} 
.header-wrapper a:focus{
  color: #2196f3;
}
/* main */
.main-wrapper{
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}
.btn-s {
  width: 575px;
  margin: 94px 298px 34px 297px;
  padding-right: 8px;
font-weight: 500;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.btn-s button:hover{
  background-color: #2196f3;
  color:#FFFFFF;
  transition: background-color 1s ease;
}
.btn-s button:focus{
  background-color: #2196f3;
  color: #FFFFFF;
  transition: background-color 1s ease;
}
.btn-1 {
  width: 73px;
  border: none;
  height: 38px;
  border-radius: 4px;
  background: #f5f4fa;
}
.btn-2 {
  width: 125px;
  border: none;
  height: 38px;
  border-radius: 4px;
  background: #f5f4fa;
}
.btn-3 {
  width: 112px;
height: 38px;
border: none;
border-radius: 4px;
  background: #f5f4fa;
}
.btn-4{
  width: 103px;
height: 38px;
border: none;
border-radius: 4px;
  background: #f5f4fa;
}
.btn-5{
  width: 130px;
height: 38px;
border: none;
border-radius: 4px;
  background: #f5f4fa;
}
/* end of btn */
.thumb{
  width: 370px;
  height: 294px;
}
.thumb > img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.projects li{
  list-style-type: none;
}
.projects div{
  box-sizing: border-box;
background: #FFFFFF;
border: 1px solid #EEEEEE;
}
.works{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.projects{
  width: 1200px;
}
.div-to-6{
  margin-bottom: 30px;
}
.div-from-7{
  margin-bottom: 94px;
}
.title{
  font-weight: 700;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
width: 322px;
height: 36px;
margin: 20px 24px 4px 24px;
color: #212121;
}
.program-type{
font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
margin: 4px 24px 20px 24px;
color: #757575;
}

/* footer */
.footer{
  width: 1600px;
  height: 252px;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
.address-footer{
  display: flex;
  flex-direction: column;
  width: 231px;
}
.street {
  font-weight: 400;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
  color: #ffffff;
}
.tel-item{
  margin-top: 9px;
}
.footer-wrapper {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.contact-footer {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}
.contact-footer a {
  text-decoration: none;
  color: #757575;
}
.address-footer a:hover {
  color: #2196f3;
  transition: color 500ms ease-out;
}
.address-footer a:focus{
  color: #2196f3;
  transition: color 500ms ease-out;
}
.footer-wrapper a:focus{
  color: #2196f3;
  transition: color 500ms ease-out;
}
.link-footer{
  width: 20px;
  height: 20px;
  fill: #ffffff;
}
.links-footer{
  display: flex;
  justify-content: space-between;
  width: 206px;
}
.link-li-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.link-li-footer:hover{
  border-radius: 50%;
  background-color: #2196F3;
  transition: background-color 1s ease;
}
.link-li-footer:focus{
  border-radius: 50%;
  background-color: #2196F3;
  transition: background-color 1s ease;
}
.footer-wrapper h2{
  color: #FFF;
font-size: 14px;
font-weight: 700;
letter-spacing: 0.42px;
margin-bottom: 20px;
text-transform: uppercase;
}
.join{
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  padding-top: 12px;
}
/* telegram */
.telegram-icon{
  width: 24px;
  height: 24px;
  fill: #ffffff;
}
.telegram-btn{
  width: 200px;
  height: 50px;
  border-radius: 4px;
background: #2196F3;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
border: none;
color: #FFF;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px; 
letter-spacing: 0.96px;
/* padding-right: 28px;
padding-left: 28px; */
position: absolute;
left: 370px;
animation: back 5s linear 500ms infinite;
}
.footer-input{
  width: 358px;
  height: 50px;
  border-radius: 4px;
border: 1px solid rgba(255, 255, 255, 0.30);
background: rgba(33, 150, 243, 0.00);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
padding-left: 16px;
outline: none;
color: #FFF;
cursor: pointer;
margin-top: 20px;
margin-right: 12px;
}
.footer-label{
  color: #FFF;
font-size: 14px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
}
.telegram{
  padding-top: 12px;
  width: 570px;
}
.footer-form{
  display: flex;
  align-items: flex-end;
  /* margin-left: 93px; */
  position: relative;
  left: 93px;
}
/* overlay */
.overlay:hover{
width: 100%;
height: 100%;
 background-color: rgba(33, 150, 243, 0.90);
 position: absolute;
top: 0;
cursor: pointer;
transition: background-color 1s ease;
}
.overlay:hover .portfolio-hover-text{
  opacity: 1;
}
.div-over:hover .overlay{
  cursor: pointer;
  opacity: 1;
}
.portfolio-hover-text{
  color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 1.55; 
letter-spacing: 0.54px;
position: absolute;
opacity: 0;
top: 63px;
bottom: 63px;
left: 24px;
right: 24px;
}
.thumb{
  position: relative;
}
@keyframes back{
  0%{
    background-color: red;
  }
  50%{
    background-color: black;
  }
  100%{
    background-color: #2196F3;
  }
}